@import "./variables.scss";

.experience_page_div {
  padding: 20px 20px;
  background: rgb(19, 15, 133);
  color: #fff;
}

.experience_description {
  margin-bottom: 30px;
}

.experience_col_desp {
  text-align: center;
  @include breakpoint(lg) {
    text-align: left;
  }
}

.experience_tech_div {
  margin-bottom: 40px;
  // text-align: center;
}

.experience_title {
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(202, 202, 202, 0.25);
  padding: 20px 0px;
  letter-spacing: 0.8px;

  margin-bottom: 30px;
  line-height: 1.5;

  @include breakpoint(lg) {
    font-size: 2.2rem;
    margin-bottom: 0px;
  }
}

.experience_content {
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: justify;
  @include breakpoint(lg) {
    text-align: left;
    margin-top: 20px;
    font-size: 1rem;
  }
}

.experience_page_sub_title {
  font-size: 0.9rem;

  @include breakpoint(lg) {
    text-align: center;
    font-size: 1rem;
    margin-top: 0px;
  }
}

.stack_title {
  font-size: 1rem;
  margin-top: 40px;
  // text-align: center;
  margin-bottom: 40px;
  @include breakpoint(lg) {
    font-size: 1.6rem;
  }
}

.experience_list {
  list-style: none;
}

.experience_tech_col {
  @include breakpoint(lg) {
    text-align: center;
  }
}

.frontend_list_items {
  text-align: left;
}

.experience_content_div {
  margin-top: 40px;
}

.college_img_div {
  width: 100%;
  height: 280px;
  // border: 1px solid rgba(196, 196, 196, 0.3);
  box-shadow: 2px 2px 12px 6px rgba(7, 5, 5, 0.25);
  @include breakpoint(lg) {
    height: 300px;
  }
}

.college_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // border-radius: 3%;
}
.college_name {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 10px;
}

.experience_card_div {
  margin-top: 100px;
}

.experience_sub_title {
  text-align: center;
  font-size: 1rem;
  text-shadow: 0px 4px 4px rgba(202, 202, 202, 0.25);
  letter-spacing: 0.8px;
}

.experience_column {
  // border: 1px solid red;
  margin-bottom: 100px;
}

.experince_img_div {
  width: 100%;
  height: 290px;
  border: 1px solid rgba(196, 196, 196, 0.3);
  box-shadow: 2px 2px 12px 6px rgba(7, 5, 5, 0.25);
}

.experience_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hr_line {
  border: 2px solid rgb(206, 206, 206);
}

.company_title {
  font-size: 1.8rem;
}

.show_more_btn_div {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.show_more_btn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 10px 50px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  box-shadow: 4px 5px 9px 2px rgba(54, 33, 56, 0.35);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #fff;
    color: rgb(19, 15, 133);
  }
}

.show_more_icon {
  margin-left: 10px;
  font-size: 2rem;
}
