@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import "./variables.scss";

body {
  font-family: $popping-font;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
