.intro_container_fluid_div {
  background: rgb(19, 15, 133);
  // height: 300px;
  color: #fff;
}

.about_container_fluid_div {
  background: rgb(127, 125, 189);
  color: #fff;
}

.skills_container_fluid_div {
  background: rgb(19, 15, 133);
  color: #fff;
}


